html,body,div,.wrapper,h1,h2,h3,h4,h5,h6,img,ul,li,form,button,blockquote,header,main,footer,aside,article,nav,input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

}
header,main,footer,aside,article,nav {
  display: block;
}
